/* 전체 화면을 덮는 full-div와 내부 중앙정렬 center-div */
.full-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 화면 전체 높이 */
  width: 100vw; /* 화면 전체 너비 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* src/App.css */

body {
  margin: 0;
}

.slide-enter {
  opacity: 0;
  transform: translateX(100%);
  position: absolute;
  width: 100%;
}
.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.slide-exit {
  opacity: 1;
  transform: translateX(0);
  position: absolute;
  width: 100%;
}
.slide-exit-active {
  opacity: 0;
  transform: translateX(-30%);
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
}